html {
    background-color:#4decb1;
    display:flex;
    align-items:center;
    justify-content:center;
    height:100%;
  }
#rule{
    display: block;
    max-width:700px;
    padding:50px 70px;
    border-radius:10px;
    /* box-shadow:4px 4px 15px rgba(0, 0, 0, 0.2); */
    background-color:#fff;
    text-align: center;
  }
h1{
    text-align: center;
}
#btn_start {
    border-radius:30px;
    padding:10px 20px;
    font-size:18px;
    font-weight:bold;
    background-color:#1a9e7a;
    border:none;
    color:white;
    margin-top:20px; 
  }
  #info_box{
    display:flex;
    flex-direction: row;
  }

.info{
    margin-right:145px;
    border-radius:5px;
    background-color: white;
    margin-bottom:5px;

    
}
#game{
    text-align: center;
    display:none;
    flex-direction: column;
    align-items:center;
    justify-content:center;
    width:100vh;
    height:100vh;
}
#game_space{
    max-width: 700px;
    max-height:700px;
    background-color: white;
    width:100vw;
    height:100vh;
    display:flex;
    flex-direction: row;
}
#properties{
  background-color:rgb(240, 230, 230);
  width:25%;
  flex-direction: column;
}
.property{
  margin-top: 20px;
  background-color: wheat;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  border-radius: 100px;
}
#second_part{
  background-color: #1a9e7a;
  width:100%;
  flex-direction: column;
}
#pictures{
  height: 60%;
  background-color:beige;
  display: flex;
  flex-direction: row;
  flex-wrap:wrap
}
#list_words{
/*   text-align: justify;
  block-size:fit-content; */
  display:flex;
}
#list_words div{
  background-color: #fff;
  margin-left:auto;
  margin-right:auto;
  margin-top: auto;
  margin-bottom:auto;
  display:flex;
  height: auto;
  width:auto;
  flex-wrap:wrap;
  block-size:fit-content;
}
.click{
  background-color: red;
}
.unclicked{
  background-color: white;
}
@media (max-width: 700px) {
    #game_space {
      max-width:450px;
      max-height:600px;
    }
    .info{
        margin-right:60px;
    }
}
@media (max-width: 500px) {
    #game_space {
      max-width:300px;
      max-height:300px;
    }
    .info{
        margin-right:35px;
        font-size:12px;
    }
    .box_alpha{
      height:5px;
    }
}